<div class="page-navbar">
  <ul id="page-navbar-list">
    <li class="only-mobile">
      <i class="fa fa-bars toggle-sidebar-mobile"
         (click)="closeSideBar()"
         ></i>
    </li>
    <li><a routerLink="/full-preview/{{resumeId}}/" routerLinkActive="active"><i class="fa fa-eye"></i> <span class="not-mobile">Full Preview</span></a></li>
    <li><a href="#"><i class="fa fa-star"></i> <span class="not-mobile">Primary</span></a></li>
    <li><a href="#"><i class="fa fa-rss"></i> <span class="not-mobile">Social</span></a></li>
    <li><a href="#"><i class="fa fa-briefcase"></i> <span class="not-mobile">Promtions</span></a></li>
    <li><a href="#"><i class="fa fa-refresh"></i> <span class="not-mobile">Updates</span></a></li>
  </ul>
</div>
