/*********START FONTS*********/
/*.form-horizontal{*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/
.preview-heading , .preview-name-section{
    font-family: 'Exo2-Regular';
}
/*********END FONTS*********/

.preview-wrapper{
    background:#eee;
}
.main-padding{
    padding-top: 134px;
    padding-bottom:20px;
    padding-left: 15px;
    padding-right: 15px;
    margin:0 30px;
}

.preview-page-content{
    background:#fff;
    margin-top:20px;
    box-shadow: 0 0 10px #aaa;
    padding:20px;
    font-size: 16px;
}
.preview-all-page-content{
    font-size: 16px;
}
.preview-wrapper .user-pro-pic-preview img {
    margin: auto;
    width: 130px;
    background-color: #bbb;
    border-radius: 50%;
}
.preview-name-section{
    padding:0;
}
.left-col-preview-alignright p, .date-col , .left-col-preview p {
    text-align: right;
    color: #276ea4;
}
.preview-style i, .secondaryp , .alignment-right{
    color:#276ea4;
}
.skill-level-yellow {
    color: Gold !important;
}
.skill-level-black {
    color: #555 !important;
}
.primaryp {
    font-size: 22px;
}
.flex-row{
    display:flex;
    flex-wrap:wrap;
}

.user-input{
//text-align:justify;
}
@media screen and (max-width:1400px) {
    .main-padding{
        padding-top: 117px;
    }
}
@media screen and (max-width:1024px) {
    .main-padding{
        padding-top: 107px;
    }
}
@media screen and (max-width:992px) {
    .main-padding{
        padding-top: 100px;
    }
}
@media screen and (max-width:824px) {
    .main-padding{
        padding-top: 97px;
    }
}
@media screen  and (max-width:768px){
    .main-padding{
        padding:82px 0 0;
        margin:0;
    }
    .flex-order-sm-1{
        order:1;
    }
    .flex-order-sm-2{
        order:2;
    }
}
@media screen  and (max-width:490px){
    .date-col  , .left-col-preview p {
        text-align:left;
    }
}


/**************THE FORM****************/


.user-pro-pic , .user-pro-pic:hover{
    text-decoration:none;
}
.user-pro-pic img{
    margin: auto;
    width: 180px;
}
.margin-bo-15{
    margin-bottom:15px;
}
.custom-col-3 {
    width: 22.22%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0px;
}
/*.map-img {*/
    /*margin: 0 auto 15px;*/
    /*max-width:93%;*/
    /*height: 225px;*/
    /*border:1px solid #ccc;*/
    /*border-radius:20px;*/
    /*overflow:hidden;*/
/*}*/
.custom-col-md-7{
    width: calc(66.6666667% - 55px);
}
.custom-col-md-1{
    width: 40px;
}
.flex-row{
    display:flex;
    flex-wrap:wrap;
}
.flex-order-sm-1 , .flex-order-sm-2{
    padding:0;
}

/*.only-mobile-label{*/
    /*display:none;*/
/*}*/
/*.not-mobile-label{*/
    /*display:inline;*/
/*}*/
/*!* Start Responsive *!*/
/*@media screen and (max-width:1200px) and (min-width:768px){*/
    /*.only-mobile-label{*/
        /*display:inline;*/
    /*}*/
    /*.not-mobile-label{*/
        /*display:none;*/
    /*}*/
/*}*/
/*@media screen and (max-width:500px) {*/
    /*.only-mobile-label{*/
        /*display:inline;*/
    /*}*/
    /*.not-mobile-label{*/
        /*display:none;*/
    /*}*/
/*}*/
@media screen and (max-width:768px) {
    .custom-col-3{
        width: 33.33%;
    }
    .custom-col-md-7 {
        width: calc(100% - 55px);
    }
    .margin-bo-15{
        margin-bottom:25px;
    }
    .flex-order-sm-1{
        order:1;
        margin-bottom:25px;
    }
    .flex-order-sm-2{
        order:2;
    }

}

/* End Responsive */

/*!* Start left sidebar *!*/
/*#page-sidebar.collapsed{*/
    /*width: 100px;*/
/*}*/
/*#page-sidebar {*/
    /*width: 300px;*/
    /*float: left;*/
    /*height:100vh;*/
    /*margin-right: -100%;*/
    /*z-index: 120;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: #03253f;*/
    /*overflow:auto;*/
    /*transition:width.5s ease;*/
    /*-ms-overflow-style: none;*/
    /*overflow: -moz-scrollbars-none;*/
/*}*/
/*#page-sidebar::-webkit-scrollbar {*/
    /*display: none;*/
/*}*/
/*#page-sidebar .main-menu{*/
    /*margin-top: 134px;*/
    /*padding: 10px 15px ;*/
/*}*/

/*#page-sidebar .main-menu ul {*/
    /*list-style-type: none;*/
    /*padding: 0;*/
    /*margin-bottom: 0;*/
/*}*/
/*#page-sidebar.collapsed .main-menu ul li{*/
    /*text-align:center;*/
/*}*/
/*#page-sidebar .main-menu ul li {*/
    /*margin:15px 0;*/
    /*text-align:left;*/
/*}*/
/*#page-sidebar .main-menu ul li a{*/
    /*color:#e0e0ff;*/
    /*text-decoration:none;*/
    /*font-size:1.2em;*/
/*}*/
/*#page-sidebar .main-menu ul li a:hover , #page-sidebar .main-menu ul li a.active{*/
    /*color:#ffe5b6;*/
    /*text-decoration:none;*/
/*}*/
/*#page-sidebar .main-menu ul li a .li-icon {*/
    /*padding: 10px;*/
    /*margin-right: 10px;*/
    /*width: 35px;*/
    /*font-size:1em;*/
    /*transition: font-size .5s ease;*/
/*}*/
/*#page-sidebar .main-menu ul li a:hover .li-icon{*/
    /*animation: zoom-it .5s ease;*/
/*}*/
/*#page-sidebar .main-menu ul li a.active .li-icon{*/
    /*font-size:1.5em;*/
    /*padding:5px;*/
/*}*/

/*@keyframes zoom-it{*/
    /*0%{transform: scale(1);}*/
    /*50%{transform: scale(1.2);}*/
    /*100%{transform: scale(1);}*/
/*}*/
/*#page-sidebar.collapsed .main-menu ul li a .li-name{*/
    /*visibility: hidden;*/
    /*transition-delay: 0s;*/
    /*position: absolute;*/
/*}*/
/*#page-sidebar .main-menu ul li a .li-name {*/
    /*visibility: visible;*/
    /*transition-delay: .3s;*/
    /*position: static;*/
    /*border-left: 1px solid;*/
    /*padding-left: 10px;*/
/*}*/
/*.toggle-sidebar {*/
    /*position: fixed;*/
    /*left: 300px;*/
    /*top: 190px;*/
    /*font-size: 22px;*/
    /*background: #03253f;*/
    /*color: white;*/
    /*z-index: 100;*/
    /*width:30px;*/
    /*height:40px;*/
    /*text-align: center;*/
    /*padding-top: 5px;*/
    /*transition: left .5s ease;*/
    /*border-bottom-right-radius: 5px;*/
    /*border-top-right-radius: 5px;*/
    /*cursor:pointer;*/
/*}*/
/*.collapsed .toggle-sidebar {*/
    /*left:100px;*/
/*}*/
/*.toggle-sidebar .fa{*/
    /*transform:rotateZ(0deg);*/
    /*transition:all .5s ease;*/
/*}*/
/*.collapsed .toggle-sidebar .fa{*/
    /*transform:rotateZ(-180deg);*/
/*}*/
/*!* End left sidebar *!*/

/* Start PAGE CONTENT */
#page-content-wrapper{
    margin-left: 300px;
    padding: 0 ;
    transition: margin-left .5s ease;
}
#page-sidebar.collapsed + #page-content-wrapper{
    margin-left: 100px;
}
#page-content-wrapper .page-content{
    margin-top:134px;
    padding:60px 34px 30px;
}
#page-content-wrapper  .page-title{
    padding: 0 2% 25px ;
    font-size: 1.3rem;
    color: #276ea4;
}
#page-content-wrapper .page-title .fa{
    font-size: 2rem;
    vertical-align: middle;
    padding: 0 15px;
}
/* End PAGE CONTENT */

/*!* Start THE FORM *!*/
/*.form-horizontal , .fixed-helper{*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/
/*.form-control:focus{*/
    /*box-shadow:none;*/
    /*border-bottom:1px solid #ccc;*/
/*}*/
/*.form-control{*/
    /*box-shadow:none;*/
    /*border-radius: 0px;*/
    /*border:0;*/
    /*border-bottom:1px solid #ccc;*/
    /*transition: all .2s ease;*/
    /*padding-bottom:0;*/
    /*height:32px;*/
/*}*/
/*.form-control[disabled]{*/
    /*background:#fff;*/
    /*border-bottom: 1px dashed #ccc;*/
/*}*/
/*.has-error .form-control , .has-error .form-control:focus{*/
    /*box-shadow:none;*/
/*}*/
/*label{*/
    /*font-weight:normal;*/
/*}*/
/*.has-error .control-label{*/
    /*color: #a94442;*/
/*}*/
/*.has-error .error-message{*/
    /*color: #a94442;*/
    /*position:absolute;*/
    /*left:100%;*/
    /*top:10px;*/
    /*width:60%;*/
/*}*/
/*.form-control-feedback{*/
    /*right:25px;*/
    /*z-index: 0;*/
/*}*/
/*.form-control-feedback.glyphicon-ok{*/
    /*color:#35b558;*/
/*}*/
/*.alignment-right{*/
    /*text-align:right;*/
/*}*/

/*.radio-choose.container {*/
    /*display: block;*/
    /*position: relative;*/
    /*padding-left: 35px;*/
    /*margin-bottom: 12px;*/
    /*margin-top:7px;*/
    /*cursor: pointer;*/
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
/*}*/

/*.radio-choose.container input {*/
    /*position: absolute;*/
    /*opacity: 0;*/
    /*cursor: pointer;*/
/*}*/

/*.radio-choose .checkmark {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 20px;*/
    /*width: 20px;*/
    /*border: 2px solid #aaa;*/
    /*background-color: #fff;*/
    /*border-radius: 50%;*/
    /*transition:all .15s ease;*/
/*}*/

/*.radio-choose.container input:checked ~ .checkmark {*/
    /*background-color: #fff;*/
    /*border: 2px solid #276ea4;*/
/*}*/

/*.radio-choose .checkmark:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*display: none;*/
/*}*/

/*.radio-choose.container input:checked ~ .checkmark:after {*/
    /*display: block;*/
    /*animation: zoom-it-out .2s ease;*/
/*}*/

/*.radio-choose.container .checkmark:after {*/
    /*left: 2px;*/
    /*top: 2px;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*background:#276ea4;*/
    /*border-radius:50%;*/
/*}*/
/*.radio-choose .checkmark:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top:-2px;*/
    /*left:-2px;*/
    /*width:20px;*/
    /*height:20px;*/
    /*border-radius:50%;*/
/*}*/
/*.radio-choose.container input:checked ~ .checkmark:before {*/
    /*animation: change-color .5s ease;*/
/*}*/
/*@keyframes zoom-it-out{*/
    /*0%{transform:scale(0);}*/
    /*100%{transform:scale(1);}*/
/*}*/
/*@keyframes change-color{*/
    /*0%{background:#276ea444;*/
        /*transform:scale(1);}*/
    /*60%{background:#276ea422;*/
        /*transform:scale(2.5);}*/
    /*100%{background:#276ea400;*/
        /*transform:scale(2.5);}*/
/*}*/

/*.focus-no-padding {*/
    /*padding-left:0;*/
/*}*/
/*.focus-no-padding .custom-underline{*/
    /*position: absolute;*/
    /*width: calc(100% - 15px);*/
    /*height: 2px;*/
    /*bottom: 0;*/
    /*background-color: #276ea4;*/
    /*transform: scale(0);*/
    /*transform-origin: left;*/
    /*transition:all .3s ease;*/
/*}*/
/*.focus-no-padding .form-control:focus ~ .custom-underline{*/
    /*transform: scale(1);*/
/*}*/
/*.focus-no-padding:after{*/
    /*transform-origin:left;*/
/*}*/
/*.btn-primary{*/
    /*background-color: #276ea4;*/
/*}*/
/*.btn{*/
    /*border-radius:5px;*/
/*}*/
/*.btn-block {*/
    /*width:auto;*/
    /*margin: auto;*/
/*}*/
/*.form-group , .custom-row{*/
    /*margin-bottom:25px;*/
/*}*/
/*textarea{*/
    /*resize: vertical;*/
/*}*/
/*.text-area-letters{*/
    /*position: absolute;*/
    /*right: 15px;*/
    /*width: calc(100% - 15px);*/
    /*text-align: right;*/
    /*padding: 3px 5px;*/
/*}*/
/*.div-margin-top-40{*/
    /*margin-top:40px;*/
/*}*/
/*.div-margin-bo-25{*/
    /*margin-bottom:25px;*/
/*}*/
/*.btn-delete {*/
    /*background: transparent;*/
    /*color: #aaa;*/
    /*border:0;*/
    /*outline:0;*/
    /*font-size: 18px;*/
    /*padding: 0;*/
    /*margin:0 6px;*/
/*}*/
/*.btn-delete .fa-trash{*/
    /*width:25px;*/
    /*height:25px;*/
    /*line-height:25px;*/
/*}*/
/*.btn-delete:hover {*/
    /*background:#ffd46a;*/
    /*color: #777;*/
    /*border:0;*/
    /*outline:0;*/
/*}*/
/*.btn-delete-big{*/
    /*width:37px;*/
    /*height:34px;*/
    /*margin:0;*/

/*}*/
/* End THE FORM */

/*!* Start HELPER *!*/
/*.fixed-helper{*/
    /*position:fixed;*/
    /*right:0;*/
    /*height:100vh;*/
    /*background:#e8eeff;*/
    /*top:0px;*/
    /*transition:all .5s ease;*/
/*}*/
/*.fixed-helper span{*/
    /*margin-top:134px;*/
    /*padding:25px;*/
    /*display:block;*/
    /*color: #666;*/
    /*font-size: 16px;*/
/*}*/
/*.fixed-helper.hide-helper{*/
    /*right:-25%;*/
/*}*/
/*.fixed-helper .toggle-helper{*/
    /*position: fixed;*/
    /*right: 25%;*/
    /*top: 190px;*/
    /*font-size: 22px;*/
    /*background: #e8eeff;*/
    /*width: 30px;*/
    /*height: 40px;*/
    /*border-bottom-left-radius: 5px;*/
    /*border-top-left-radius: 5px;*/
    /*text-align: center;*/
    /*padding-top: 5px;*/
    /*cursor: pointer;*/
    /*transition:all .5s ease;*/
/*}*/
/*.fixed-helper.hide-helper .toggle-helper{*/
    /*right: 0px;*/
/*}*/
/*!* End HELPER *!*/

/* Start Responsive */
@media screen and (max-width:1400px) {
    #page-content-wrapper .page-content , #page-sidebar .main-menu , .fixed-helper span{
        margin-top:117px;
    }
    .toggle-sidebar , .fixed-helper .toggle-helper{
        top: 175px;
    }
}
@media screen and (max-width:1024px) {
    #page-content-wrapper .page-content , #page-sidebar .main-menu , .fixed-helper span{
        margin-top:107px;
    }
    .toggle-sidebar , .fixed-helper .toggle-helper{
        top: 157px;
    }
}
@media screen and (max-width:992px) {
    #page-content-wrapper{
        margin-left:100px;
    }
}
@media screen and (max-width:824px) {
    #page-content-wrapper .page-content , #page-sidebar .main-menu , .fixed-helper span{
        margin-top:97px;
    }
    .toggle-sidebar , .fixed-helper .toggle-helper {
        top: 147px;
    }
}
@media screen and (max-width:768px) {
    #page-sidebar{
        width:100%;
        left:0;
        transition: left .5s ease;
    }
    #page-sidebar.collapsed{
        width:100%;
        left:-100%;
    }
    #page-sidebar.collapsed .toggle-sidebar , #page-sidebar .toggle-sidebar{
        display:none;
    }
    #page-sidebar.collapsed .main-menu ul li a .li-name{
        visibility:visible;
    }
    #page-sidebar.collapsed .main-menu ul li{
        text-align:left;
    }
    #page-sidebar .main-menu ul li a{
        font-size:1rem;
    }
    #page-content-wrapper , #page-sidebar.collapsed + #page-content-wrapper{
        margin-left:0px !important;
    }
    #page-content-wrapper .page-title{
        padding: 0 0 25px ;
        display:block;
    }
    #page-content-wrapper .page-title .fa{
        padding: 0 20px  0 0 ;
    }
    /*.alignment-right{*/
        /*text-align:left;*/
    /*}*/
    /*.fixed-helper{*/
        /*display:none;*/
    /*}*/
    /*.has-error .error-message{*/
        /*top:100%;*/
        /*left:0;*/
        /*width:calc(100% - 15px);*/
        /*text-align:right;*/
    /*}*/
    /*.has-error textarea ~ .error-message {*/
        /*top: calc(100% + 26px);*/
    /*}*/

}
/* End Responsive */

/*.control-label{*/
    /*font-weight: normal;*/
    /*font-size: 16px;*/
    /*color: #03253f;*/
/*}*/
/*.form-control{*/
    /*font-size:16px;*/
/*}*/
/*.focus-no-padding .custom-underline{*/
    /*background-color: #4f94df;*/
/*}*/
